<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="RegisterVo" type="com.hitokuse.domains.RegisterVo" />
		<typeAlias alias="AnalyticsVo" type="com.hitokuse.domains.AnalyticsVo" />
	</typeAliases>
</configuration>