article {
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

.register, .analytics {
	margin-top:5%;
}

.script {
	margin-top:5%;
	text-align: center;
}

textarea {
    width: 100%;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#chart1, #chart2 {
	height: 300px;
	margin-top: 2.5%;
}